@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
body{
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
	background-color: #009BCA;

}
header {

	background-color: #009BCA;
}
#navbar a{
	padding: 15px 35px;
}


#hero .btn-light{
	background-color: transparent;
	border: 2px solid #939393;
	padding: 10px 20px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
}
#hero .btn-light:hover{
	background-color: #009BCA;
	color: #fff;
	border-color: #009BCA;
}
#pasos{
	text-align: center;
	background-color: #009BCA;
}
#pasos h4{
	font-size: 18px;
	margin-top: 30px;
}
.section{
	padding: 5% 0;
}
#pasos .feature{
	background-color: #CECECE;
	padding: 20px 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#pasos .feature:hover .circulo{
	background-color: #2E58A6;
	transition: all 0.3s ease-in-out;
}
#pasos .circulo{
	transition: all 0.6s ease-in-out;
}
.circulo{
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100px;
	background-color: #009BCA;
	display: block;
	margin: auto;
	color: #fff;
	font-size: 30px;
	text-align: center;
}


.titulo{
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	padding: 50px;
	text-transform: uppercase;
}

.subtitulo{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding: 50px;
	text-transform: uppercase;
}


#contacto input, #contacto select, #contacto textarea{
	background-color: transparent;
	color: #ffffff;
}
#contacto input::placeholder, #contacto textarea::placeholder {
   color:    #fff;
}
#contacto select option {

   color: #000;

}
footer{
    background: linear-gradient(to top, #2E58A6, transparent 100%);
	margin-top: 150px;
	padding: 10px;
}
footer h3{
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	text-transform: uppercase;
}
footer h4{
	font-weight: lighter;
	font-size: 15px;
	margin-left: 50px;
}

footer p{
	font-size: 10px;
	margin-left: 11px;
}